<component name="ArtifactManager">
  <artifact type="war" name="springboot-multidatasources_testjpa:war">
    <output-path>$PROJECT_DIR$/springboot-multidatasources_testjpa/target</output-path>
    <root id="archive" name="springboot-multidatasources_testjpa-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-multidatasources_testjpa:war exploded" />
    </root>
  </artifact>
</component>